.productcard{
    width: 221px;
    height: 281px;  
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    object-fit: contain;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* margin: 10px;
    padding: 10px; */
    margin-right: 3px;
    margin-left: 25px;
    margin-top: 25px;
    padding-top: 10px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: row;
}
.productcard:hover {
    transform:scale(1.2);
}
.cartbutton{
    display: inline-flex;
    justify-content: space-between;   
    margin-top: 15px;
}
.cartbutton button{
    height:30px;
}