.line{
    display: flex;
    flex: 1;
    height: 2px;
    background-color: rgb(253, 251, 251);
    margin-top: 40px;
    max-width: 350px;
    padding-left: 10px;
  
}

.or{
    display: flex;
    font-size: 20px;
    padding-left: 140px;
}
.otherLogins button{
    display: inline-block;
    align-items: center;
    background-color: #e8d6d6;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 350px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    cursor: pointer;
    transition: all 0.3s;
}