.readings img{
    height: 20%;
    width: 20%;
    object-fit: contain;
    display: inline-block;
}
.readings p{
    display: inline-block;
    font-size: 1 rem;
    color: #000;
}
.nested-1{
    margin-bottom: 10px;
}
    
.threedots{
    font-size: large;
    font-weight: bold;
    height: 1rem;
    width: 5rem;
    border: none;
}
.threedottext{
    padding-bottom: 0.5rem;
    font-size: large;
    font-weight: bold;
}